<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <%- partial('_partial/busuanzi') %>
            </div>
            <div class="col-sm-12">
                <span>Copyright &copy; <%= theme.since %>
                </span> |
                <span>
                    Powered by <a href="https://github.com/Syngnath" class="copyright-links" target="_blank" rel="nofollow">Syngnath</a>
                </span>
            </div>
        </div>
    </div>
</div>

<%- partial('_partial/script') %>
